.u-section-1 {
  min-height: 436px;
  background-image: url("images/Rectangle59.png");
  background-position: 50% 50%;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 668px);
  min-height: 295px;
  margin: 71px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 14px;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  margin: 11px 167px 0 10px;
}

.u-section-1 .u-text-2 {
  font-size: 1.375rem;
  font-weight: normal;
  margin: 22px 37px 0 10px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  margin: 37px auto 0 10px;
  padding: 8px 19px 8px 18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 668px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 317px;
  }

  .u-section-1 .u-text-2 {
    font-weight: 400;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 8px;
    padding-top: 7px;
    padding-right: 18px;
    padding-bottom: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 668px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 67px;
    margin-right: 191px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 17px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 399px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 52px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 19px;
    margin-right: 0;
    margin-left: 52px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 13px;
    margin-left: 52px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 332px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 33px;
    margin-right: 43px;
  }

  .u-section-1 .u-text-2 {
    font-weight: 700;
    margin-top: 17px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 589px;
}

.u-section-2 .u-shape-1 {
  width: 208px;
  height: 45px;
  background-image: none;
  margin: 21px auto 0;
}

.u-section-2 .u-text-1 {
  width: 174px;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: -38px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 35px;
  margin-bottom: 50px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 445px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 58px;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  margin: 40px auto 0 0;
}

.u-section-2 .u-line-1 {
  width: 183px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 35px auto 0 1px;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 35px 3px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 445px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 22px 0 32px;
}

.u-section-2 .u-image-1 {
  margin-bottom: 0;
  margin-top: 1px;
  height: 389px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 415px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 415px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-1 {
    height: 321px;
    margin-top: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5625rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 427px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 246px;
    margin-top: 69px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 318px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 528px;
  }

  .u-section-2 .u-image-1 {
    height: 369px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -39px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 51px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 394px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.8125rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 296px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 22px;
  }

  .u-section-2 .u-image-1 {
    height: 232px;
    margin-top: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 617px;
}

.u-section-3 .u-shape-1 {
  width: 208px;
  height: 45px;
  background-image: none;
  margin: 31px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 174px;
  margin: -35px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 68px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 388px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 140px;
  width: 140px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 11px 0;
}

.u-section-3 .u-text-3 {
  background-image: none;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 0 0 auto;
  padding: 2px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 140px;
  width: 140px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 11px 0;
}

.u-section-3 .u-text-5 {
  background-image: none;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 0 0 auto;
  padding: 2px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 140px;
  width: 140px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 11px 0;
}

.u-section-3 .u-text-7 {
  background-image: none;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px 0 0 auto;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-top: 52px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 339px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 779px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1287px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 37px;
    margin-bottom: 31px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1154px;
    grid-gap: 27px 27px;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 29px 10px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 5px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.8125rem;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 26px;
    margin-right: auto;
    margin-bottom: -3px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 29px 10px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 5px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.8125rem;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 26px;
    margin-right: auto;
    margin-bottom: -3px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 29px 10px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 5px;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.8125rem;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 26px;
    margin-right: auto;
    margin-bottom: -3px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1099px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 48px;
    margin-bottom: 0;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1013px;
  }

  .u-section-3 .u-icon-1 {
    height: 102px;
    width: 105px;
    margin-left: 104px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    margin-top: -4px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-icon-2 {
    height: 102px;
    width: 105px;
    margin-left: 104px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.25rem;
    margin-top: -4px;
  }

  .u-section-3 .u-btn-2 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-icon-3 {
    height: 102px;
    width: 105px;
    margin-left: 104px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.25rem;
    margin-top: -4px;
  }

  .u-section-3 .u-btn-3 {
    font-size: 0.625rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 880px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 52px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 406px;
  margin-top: 27px;
  margin-bottom: 0;
  grid-gap: 17px 17px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-4 .u-gallery-item-1 {
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: 70px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-4 .u-gallery-1 {
    height: 335px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1500px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1026px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1244px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 42px;
    height: 770px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1162px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-gallery-1 {
    height: 485px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.8125rem;
    margin-bottom: 52px;
  }
}