.u-section-1 {
  min-height: 436px;
  background-image: url("images/Rectangle513.png");
  background-position: 50% 50%;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 668px);
  min-height: 295px;
  margin: 71px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 14px;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  margin: 11px 167px 0 10px;
}

.u-section-1 .u-text-2 {
  font-size: 1.375rem;
  font-weight: normal;
  margin: 22px 37px 0 10px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  margin: 37px auto 0 10px;
  padding: 8px 19px 8px 18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 668px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 317px;
  }

  .u-section-1 .u-text-2 {
    font-weight: 400;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 8px;
    padding-top: 7px;
    padding-right: 18px;
    padding-bottom: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 668px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 67px;
    margin-right: 191px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 17px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 399px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 52px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 19px;
    margin-right: 0;
    margin-left: 52px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 13px;
    margin-left: 52px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 332px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 33px;
    margin-right: 43px;
  }

  .u-section-1 .u-text-2 {
    font-weight: 700;
    margin-top: 17px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
  }
}.u-section-2 {
  min-height: 318px;
}

.u-section-2 .u-sheet-1 {
  min-height: 755px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 73px;
  margin-bottom: 50px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 632px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 44px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 90px auto 0;
}

.u-section-2 .u-form-1 {
  height: 415px;
  width: 482px;
  margin: 29px 0 0;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 10px 31px 10px 29px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 632px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 521px;
  }

  .u-section-2 .u-form-1 {
    width: 382px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 521px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-form-1 {
    width: 300px;
  }

  .u-section-2 .u-btn-1 {
    border-style: none;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 399px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1353px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 19px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 632px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 48px;
    padding-right: 48px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5625rem;
    width: auto;
    margin-top: 43px;
    margin-right: -2px;
    margin-left: 6px;
  }

  .u-section-2 .u-form-1 {
    width: 440px;
    margin-top: 36px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 599px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 580px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 24px;
    margin-right: 80px;
    margin-left: 0;
  }

  .u-section-2 .u-form-1 {
    width: 320px;
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 377px;
  }
}