.u-section-1 {
  min-height: 436px;
  background-image: url("images/Rectangle511.png");
  background-position: 50% 50%;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 668px);
  min-height: 295px;
  margin: 71px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 14px;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  margin: 11px 167px 0 10px;
}

.u-section-1 .u-text-2 {
  font-size: 1.375rem;
  font-weight: normal;
  margin: 22px 37px 0 10px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  margin: 37px auto 0 10px;
  padding: 8px 19px 8px 18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 668px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 317px;
  }

  .u-section-1 .u-text-2 {
    font-weight: 400;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 8px;
    padding-top: 7px;
    padding-right: 18px;
    padding-bottom: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 668px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 67px;
    margin-right: 191px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 17px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 399px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 52px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 19px;
    margin-right: 0;
    margin-left: 52px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 13px;
    margin-left: 52px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 332px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 33px;
    margin-right: 43px;
  }

  .u-section-1 .u-text-2 {
    font-weight: 700;
    margin-top: 17px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1113px;
}

.u-section-2 .u-group-1 {
  width: 208px;
  min-height: 45px;
  margin: 51px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0 auto -20px 7px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 43px;
  margin-bottom: 24px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 468px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 22px;
}

.u-section-2 .u-image-1 {
  height: 309px;
  width: 358px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 468px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 19px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 52px 3px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 39px 3px 0 8px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-size: 1.125rem;
  margin: 30px 3px 0 8px;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 493px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 11px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 53px 3px 0 7px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 38px 0 0 7px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  font-size: 1.125rem;
  margin: 30px auto 0 11px;
  padding: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 493px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 18px;
}

.u-section-2 .u-image-2 {
  height: 309px;
  width: 358px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 846px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 495px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 88px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 386px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 407px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 495px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-2 .u-image-1 {
    height: 231px;
    width: 268px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 379px;
  }

  .u-section-2 .u-image-2 {
    width: 221px;
    height: 190px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1264px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 42px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 9px 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-bottom: 0;
    margin-left: auto;
    font-size: 1.125rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 52px;
    margin-bottom: 1px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 325px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 328px;
    margin-top: 24px;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 257px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.8125rem;
    width: auto;
    margin-top: 25px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.8125rem;
    margin-top: 7px;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 266px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 0.8125rem;
    width: auto;
    margin-top: 34px;
  }

  .u-section-2 .u-btn-2 {
    font-size: 0.8125rem;
    margin-top: 7px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 267px;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 6px 10px 40px;
  }

  .u-section-2 .u-image-2 {
    width: 327px;
    height: 230px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 205px;
  }

  .u-section-2 .u-image-1 {
    height: 225px;
    width: 320px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 168px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-2 {
    width: 320px;
    height: 225px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 421px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 23px;
}

.u-section-3 .u-image-1 {
  width: 357px;
  height: 309px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 431px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 22px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 43px 7px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 45px 0 0 5px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-size: 1.125rem;
  margin: -69px auto 39px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 491px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 491px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -56px;
    margin-right: 408px;
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 315px;
  }

  .u-section-3 .u-image-1 {
    width: 314px;
    height: 271px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 188px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 1px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 269px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.8125rem;
    width: auto;
    margin-top: 28px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.8125rem;
    margin: -84px auto 63px 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 315px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-btn-1 {
    margin: -29px 17px 9px auto;
  }
}.u-section-4 {
  min-height: 418px;
}

.u-section-4 .u-image-1 {
  height: 322px;
  margin-top: 56px;
  margin-bottom: 0;
}

.u-section-4 .u-group-1 {
  width: 748px;
  min-height: 201px;
  margin: -257px auto 60px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 14px 64px 0 46px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 23px auto 0;
  padding: 8px 19px 8px 18px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    margin-top: -258px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 32px;
    margin-right: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 368px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 6px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    font-size: 0.8125rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    margin-top: 32px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-top: -270px;
  }
}