/*Theme CSS*/
/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) 
{

  .w-xs-100 {

    width: 100% !important;

  }


  .w-xs-75 {

    width: 75% !important;

  }


  .w-xs-50 {

    width: 50% !important;

  }

  
.w-xs-25 {

    width: 25% !important;

  }

}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {

  .w-sm-100 {

    width: 100% !important;

  }


  .w-sm-75 {

    width: 75% !important;

  }


  .w-sm-50 {

    width: 50% !important;

  }


  .w-sm-25 {

    width: 25% !important;

  }

}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {


  .w-md-100 {

    width: 100% !important;

  }


  .w-md-75 {

    width: 75% !important;

  }


  .w-md-50 {

    width: 50% !important;

  }


  .w-md-25 {

    width: 25% !important;

  }

}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {


  .w-lg-100 {

    width: 100% !important;

  }


  .w-lg-75 {

    width: 75% !important;

  }


  .w-lg-50 {

    width: 50% !important;

  }


  .w-lg-25 {

    width: 25% !important;

  }



}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {


  .w-xl-100 {

    width: 100% !important;

  }


  .w-xl-75 {

    width: 75% !important;

  }


  .w-xl-50 {

    width: 50% !important;

  }


  .w-xl-25 {

    width: 25% !important;

  }


}
body{
    font-size: 18px;
    color: #979797;
    font-family: PT Sans;
}
h1{
    font-size: 36px;
    font-family: Plyafair Display;
    color: #2E292A;
}
.my-primary{
    color: #0EC6D5;
}
.my-btn-primary{
    background-color: #0EC6D5;
    color: #F1F1F1;
    border-radius:8px;
}
.my-secondary{
    color:  #F5735A;
}

/*Common*/
input[type="text"]:focus{
    box-shadow: 0 0 0 rgb(0, 0, 0);
    background-color: #F1F1F1;
}
.chip{
    width:fit-content;
    height:fit-content;
    border-radius:15px;
    background-color: #FFF4F2;
    color:#F5735A;
    font-size:22px;
    padding-left:2%;
    padding-right:2%;
    padding-top:1%;
    padding-bottom:1%;
}
/*Title Bar*/
.search{
    border-radius:21px;
    background-color: #F1F1F1;
    border:0px;
    padding:10px;
}
/*Landing Image*/
.landingImage{
    position: relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}
.fitImage{
    width:100%;
    height:100%;    
    object-fit: cover;
}
.landingImageItem{
    opacity: 0.8;
    width: inherit;
    height:inherit;
    position:absolute;
}
.landingImageText{
    min-width: 50%;
    position: absolute;
    top: 50%;
    left:0%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,.9);
    color:#fff;
    padding: 3rem 3rem;
}
.landingImageTitle{
    font-size: 55px;
}
.landingImageSubTitle{
    font-size: 22px;
}

/*Home Page*/
.extract{
    position: relative;
    width:100%;
    height:100%;
    overflow:hidden;
}
.extractItem{
    width: inherit;
    height:inherit;
}
.extractDesc{
    min-width: 50%;
    position: absolute;
    top: 50%;
    left:0%;
    color:#fff;
    padding: 3rem 3rem;
}
.extractImage{
    position:absolute;
    left:20%;
}
.extractOverlappedImage{
    padding-top:10%;
    position:absolute;
    top:-00%;
    left:13%;
}
.extractHr{
  transform: rotate(90deg);
  background-color: #fff;
}
.center{
  margin:auto;
  width:fit-content;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color:#0EC6D5;
  border-radius: 40px!important;
}
.nav-link-custom{
  margin:10px;
  background-color: #F1F1F1;
  border-radius:40px!important;
  color:#979797;
}
.productDescription{
  background-color: #FFF4F2;
  width:100%;
  padding:10%;
}
.jumbotron{
  min-height:350px;
}
.rowoverlay{
  position: absolute;
  z-index:1;
  top:50%;
  left:10%;
  right:10%;
}
.testimonials{
  position:relative;
}